html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9ff;
  min-height: 100vh;
  min-height: 100svh;
  margin: 0;
}
