@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 0;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  margin: 0;
}

span,
small {
  margin: 0;
}

body {
  text-align: left;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  margin: 0;
}
